In [17]:
import scipy as sc
import numpy as np
from sklearn import * 
import pandas as pd

In [18]:
data = sc.io.loadmat('Datasets/DrivFace/DrivFace.mat')
data = data
print(data.keys())
print(data['drivFaceD'][0][0][0].shape)
X_data = data['drivFaceD'][0][0][0]
X_dataframe = pd.DataFrame(X_data)
display(X_dataframe)

dict_keys(['__header__', '__version__', '__globals__', 'drivFaceD'])
(606, 6400)

,0,1,2,3,4,5,6,7,8,9,...,6390,6391,6392,6393,6394,6395,6396,6397,6398,6399
0,0.694118,0.729412,0.713725,0.670588,0.592157,0.549020,0.533333,0.549020,0.572549,0.576471,...,0.498039,0.498039,0.490196,0.474510,0.458824,0.466667,0.466667,0.450980,0.427451,0.411765
1,1.000000,0.996078,0.996078,1.000000,0.952941,0.831373,0.654902,0.505882,0.415686,0.380392,...,0.498039,0.501961,0.517647,0.517647,0.509804,0.462745,0.466667,0.462745,0.415686,0.435294
2,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.352941,0.368627,0.341176,0.317647,0.356863,0.400000,0.411765,0.403922,0.356863,0.313725
3,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.349020,0.341176,0.356863,0.380392,0.400000,0.380392,0.349020,0.325490,0.298039,0.270588
4,1.000000,1.000000,1.000000,1.000000,1.000000,0.996078,1.000000,1.000000,1.000000,0.996078,...,0.243137,0.227451,0.243137,0.262745,0.258824,0.247059,0.227451,0.247059,0.258824,0.258824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,0.262745,0.266667,0.278431,0.278431,0.290196,0.305882,0.329412,0.345098,0.360784,0.352941,...,0.270588,0.270588,0.278431,0.274510,0.282353,0.282353,0.349020,0.525490,0.537255,0.521569
602,0.254902,0.258824,0.266667,0.262745,0.270588,0.286275,0.298039,0.309804,0.329412,0.341176,...,0.258824,0.266667,0.270588,0.270588,0.270588,0.274510,0.274510,0.325490,0.490196,0.486275
603,0.301961,0.305882,0.309804,0.321569,0.325490,0.333333,0.333333,0.333333,0.329412,0.329412,...,0.266667,0.266667,0.270588,0.270588,0.274510,0.278431,0.282353,0.282353,0.274510,0.282353
604,0.317647,0.325490,0.341176,0.349020,0.352941,0.356863,0.360784,0.360784,0.360784,0.360784,...,0.258824,0.278431,0.290196,0.294118,0.305882,0.321569,0.333333,0.466667,0.545098,0.541176
605,0.333333,0.345098,0.352941,0.352941,0.352941,0.352941,0.360784,0.356863,0.356863,0.349020,...,0.141176,0.121569,0.117647,0.117647,0.117647,0.160784,0.474510,0.603922,0.545098,0.517647

In [19]:
label_data = pd.read_csv('Datasets/DrivFace/drivPoints.txt')
display(label_data)
xF = label_data['xF']
yF = label_data['yF']
wF = label_data['wF']
hF = label_data['hF']
y_data = pd.concat([xF, yF, wF, hF], axis = 1)
display(y_data)

,fileName,subject,imgNum,label,ang,xF,yF,wF,hF,xRE,yRE,xLE,yLE,xN,yN,xRM,yRM,xLM,yLM
0,20130529_01_Driv_001_f,1,1,2,0,292,209,100,112,323,232,367,231,353,254,332,278,361,278
1,20130529_01_Driv_002_f,1,2,2,0,286,200,109,128,324,235,366,235,353,258,333,281,361,281
2,20130529_01_Driv_003_f,1,3,2,0,290,204,105,121,325,240,367,239,351,260,334,282,362,282
3,20130529_01_Driv_004_f,1,4,2,0,287,202,112,118,325,230,369,230,353,253,335,274,362,275
4,20130529_01_Driv_005_f,1,5,2,0,290,193,104,119,325,224,366,225,353,244,333,268,363,268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,20130530_04_Driv_086_f,4,86,2,-15,278,183,128,141,307,218,354,210,330,247,324,273,356,266
602,20130530_04_Driv_087_lr,4,87,1,-30,268,186,128,134,296,222,344,212,319,247,316,274,347,269
603,20130530_04_Driv_088_lr,4,88,1,-30,264,187,127,131,287,220,334,211,304,247,305,272,337,270
604,20130530_04_Driv_089_f,4,89,2,-15,264,175,143,136,295,207,345,200,320,234,314,261,351,251
605,20130530_04_Driv_090_f,4,90,2,0,266,170,141,139,303,206,354,198,331,229,319,255,362,247

      xF   yF   wF   hF
0    292  209  100  112
1    286  200  109  128
2    290  204  105  121
3    287  202  112  118
4    290  193  104  119
..   ...  ...  ...  ...
601  278  183  128  141
602  268  186  128  134
603  264  187  127  131
604  264  175  143  136
605  266  170  141  139

[606 rows x 4 columns]

In [20]:
X_train,X_test, y_train, y_test = model_selection.train_test_split(X_data, y_data, test_size= 0.5 ,random_state=42, shuffle = True)
print(X_train.shape)
print(y_train.shape)

(303, 6400)
(303, 4)

In [21]:
model = linear_model.LinearRegression(fit_intercept=False)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
print("explained Variance with no bias and identity feature map (fit_intercept = false)  = ", metrics.explained_variance_score(y_test,y_predict))

explained Variance with no bias and identity feature map (fit_intercept = false)  =  -0.3276472406903881

In [22]:
X_train_new = np.concatenate((X_train, np.square(X_train)) , axis = 1)  
X_test_new = np.concatenate((X_test, np.square(X_test)) , axis = 1)

In [23]:
model = linear_model.LinearRegression()
model.fit(X_train_new,y_train)
y_new_pred = model.predict(X_test_new)
# print("Model score with polynomial mapping = ", model.score(X_test_new,y_test))
print("Model explained variance with polynomial mapping = ", metrics.explained_variance_score(y_test,y_new_pred))

Model explained variance with polynomial mapping =  0.310683959492006